$text-color: black;
$text-color-dark: white;

$text-color-brand : black;
$text-color-brand-dark: white;

$subtitle-text-color:#7f8057;
$subtitle-text-color-dark:#9195af;

$brand-hover-color:white;
$brand-hover-color-dark:white;
$facebook-theme-color: #0085F2;
$facebook-theme-color-dark:#0080e6;

$twitter-theme-color:#009CF0;
$twitter-theme-color-dark:#0092e3;

$instagram-gradient-color:linear-gradient(43deg, rgba(255,178,124,1) 38%, rgba(248,62,138,1) 91%, rgba(244,4,147,1) 100%);
$instagram-gradient-color-dark:linear-gradient(43deg, rgba(255,178,124,1) 38%, rgba(248,62,138,1) 91%, rgba(244,4,147,1) 100%);
$youtube-theme-color:#DB003A;
$youtube-theme-color-dark: #cf0036;

$ascend-text-color:#2EA39D;
$ascend-text-color-dark:#2a9792;

$descend-text-color:#BF3C5B;
$descend-text-color-dark:#BF3C5B;

$internal-card:#FFFFFF;
$internal-card-dark: #2a2c45;

$external-card-top:#FFFFFF;
$external-card-top-dark:#262535;

$external-card-bottom: #F7FFF2;
$external-card-bottom-dark: #22242d;

$toggle-gradient: linear-gradient(75deg, rgba(0,206,152,1) 31%, rgba(92,142,176,1) 68%);
$toggle-gradient-dark: linear-gradient(75deg, rgba(92,142,176,1) 33%, rgba(0,206,152,1) 66%);

$toggle-gradient-hover: #279aac;
$toggle-gradient-hover-dark: #279aac;

$brand-hover: #f3fff2;
$brand-hover-dark:white;

$brand-subtitles-hover:#00b7a3;
$brand-subtitles-hover-dark:white;
$colors: (
  --text-color: ($text-color, $text-color-dark),
  --subtitle-text-color: ($subtitle-text-color, $subtitle-text-color-dark),
  --facebook-theme-color: ($facebook-theme-color, $facebook-theme-color-dark),
  --twitter-theme-color: ($twitter-theme-color, $twitter-theme-color-dark),
  --instagram-gradient-color: ($instagram-gradient-color, $instagram-gradient-color-dark),
  --youtube-theme-color: ($youtube-theme-color, $youtube-theme-color-dark),
  --ascend-text-color: ($ascend-text-color, $ascend-text-color-dark),
  --descend-text-color: ($descend-text-color, $descend-text-color-dark),
  --internal-card: ($internal-card, $internal-card-dark),
  --external-card-top: ($external-card-top, $external-card-top-dark),
  --external-card-bottom: ($external-card-bottom, $external-card-bottom-dark),
  --toggle-gradient: ($toggle-gradient, $toggle-gradient-dark),
  --text-color-brand: ($text-color-brand, $text-color-brand-dark),
  --brand-hover-color: ($brand-hover-color, $brand-hover-color-dark),
  --toggle-gradient-hover:($toggle-gradient-hover, $toggle-gradient-hover-dark),
  --brand-hover:($brand-hover, $brand-hover-dark),
  --brand-text-hover:($brand-subtitles-hover, $brand-subtitles-hover-dark)
);
