<div class="parent magictime vanishIn">
<div class="entire-page   magictime vanishIn">

</div>
<div class="entire-page-cover">
  <div style="max-width: 100vw !important;">
    <div class="upper-body">
      <swiper [config]="config" #usefulswiper class="swipertest" #usefulswiper>

        <div id="tomove"></div>
        <div class="swiper-wrapper">
          <div class="visa-card swiper-slide" [ngClass]="{'active': isClassActive('visa-card')}">
            <div class="upper-logos">
              <div class="row" style="width:100%">
                <div class="col-12 col-md-8">
                  <div class="sim-card">
                    <i class="fas fa-sim-card carte-sim"></i>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="logo-carousel" [ngClass]="{'transit':transiting}">
                      <ng-container *ngIf="cardtext!=''">
                        <div class="logo-card ancien"><i class="fab {{billcards[indiceancientbillcard]}}"></i></div>
                        <div class="logo-card nouveau"><i class="fab {{billcards[indicebillcard]}}"></i></div>
                      </ng-container>
                      <ng-container *ngIf="cardtext==''">
                        <div class="logo-card ancien"><i class="fab {{billcards[0]}}"></i></div>
                        <div class="logo-card nouveau"><i class="fab {{billcards[0]}}"></i></div>
                      </ng-container>
                    </div>
                </div>
              </div>
          </div>
            <div class="number-container" >
            <div class="row" [ngClass]="{'active': isClassActive('number-container')}" style="justify-content: space-between">
              <div class="col-12 col-sm-3 row-container" *ngFor="let divcards of divcardnumbers;">
                <div class="row cards" >
                    <div *ngFor="let divcard of divcards" class="col-3 col-sm-2">
                      <div class="divcardcontainer" [ngClass]="{'transit': divcard.ontransit}">
                        <div class="A-divcard divcard"></div>
                        <div class="B-divcard divcard">{{divcard.ancientvalue}}</div>
                        <div class="C-divcard divcard">{{divcard.newvalue}}</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
            <div class="bottom-component">
            <div class="row">
              <div class="col-sm-9" [ngClass]="{'active': isClassActive('name-row')}">
                <div class="compose-row name-row">
                  <p class="card-holder">
                    Card Holder
                  </p>
                  <div class="value-container" [ngClass]="{'transit': firstTouch}">
                    <p class="value">AD SOYAD</p>
                    <p class="value-hidden" *ngIf="firstTouch">{{name}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3" [ngClass]="{'active': isClassActive('date-row')}">
                <div class="compose-row date-row">
                  <p class="card-holder">
                    Expires
                  </p>
                  <div class="date-value-container" [ngClass]="{'transit': firstTouch}">
                    <div class="row">
                      <div class="col-4">
                        <div class="date-container-month" [ngClass]="{'transit':monthtransit}">
                          <p class="date-case-ancient ancient-month-value">{{monthancientvalue}}</p>
                          <p class="date-case-new new-month-value">{{monthnewvalue}}</p>
                        </div>
                      </div>
                      <div class="col-2 col-md-1">
                        <p class="separator">
                          /
                        </p>
                      </div>
                      <div class="col-4">
                        <div class="date-container-year" [ngClass]="{'transit':yeartransit}">
                          <p class="date-case-ancient ancient-year-value">{{yearancientvalue}}</p>
                          <p class="date-case-new ancient-year-value">{{yearnewvalue}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="visa-card reverse swiper-slide">
            <div class="contenu-background">
              <div class="black-band"></div>
              <p class="titre">CVV</p>
              <p class="text-container" *ngIf="cvv!=''">{{cvv}}</p>
              <p class="text-container" *ngIf="cvv==''">&nbsp;</p>
              <div class="bottom-logo">
                <ng-container *ngIf="cardtext!=''">
                  <i class="fab {{billcards[indiceancientbillcard]}}"></i>
                </ng-container>
                <ng-container *ngIf="cardtext==''">
                  <i class="fab {{billcards[0]}}"></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </swiper>
    </div>
    <div class="bottom-body">
      <div class="composite-part">
        <p class="entitle">Card number</p>
        <input class="composite-text" (blur)="blurIt('number-container')" (keyup)="updatecards($event, cardtext)" [(ngModel)]="cardtext" type="text" mask="0000 0000 0000 0000" id="creditcard" (focus)="toggleClass('number-container')"/>
      </div>
      <div class="composite-part">
        <p class="entitle">Card name</p>
        <input class="composite-text" [(ngModel)]="name" type="text" (focus)="toggleClass('name-row')" (keyup)="firstTouchCheck()" (blur)="blurIt('name-row')" />
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="composite-part">
            <p class="entitle">Expiration Date</p>
            <mat-select [(ngModel)]="indexmonth" (selectionChange)="updateMonth($event)" value="0" (focus)="toggleClass('date-row')" (closed)="blurIt('date-row')">
              <ng-container *ngFor="let month of listemonths; let i = index">
                <mat-option [value]="'' + i">{{month.representation}}</mat-option>
              </ng-container>
            </mat-select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="composite-part">
            <p class="entitle">&nbsp;</p>
            <mat-select [(ngModel)]="indexyear" (selectionChange)="updateYear($event)" value="0" (focus)="toggleClass('date-row')" (closed)="blurIt('date-row')">
              <ng-container *ngFor="let year of listeyears; let j = index">
                <mat-option [value]="'' + j">{{year.representation}}</mat-option>
              </ng-container>
            </mat-select>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="composite-part">
            <p class="entitle">CVV</p>
            <input class="composite-text" (focus)="reversecard()" (blur)="focuscard()" [(ngModel)]="cvv" type="text"/>
          </div>
        </div>
      </div>
      <button class="footer-button" [disabled]="!validate()">Submit</button>
    </div>
    </div>

</div>
</div>
