p{
  margin-bottom: 0;
}
input{
  box-shadow: none;
  border:1px solid black;
  outline: none;
}
.upper-body{
  position: relative;
  width: 100%;
  padding: 50px 10%;
  padding-bottom: 0;
  margin-top: -125px;
  z-index: 0;
  swiper{
    position:relative;
    bottom: 50px;
  }
  @media(max-width: 768px){
    padding:0 !important;
    margin-top: 35px;
    margin-bottom:35px;
    swiper{
      bottom: 0px;
    }
  }

}
.swipertest{
  position:relative;
}
.bottom-component{
  margin-top:15px;
}
.upper-logos{
  margin-bottom:15px;
  display: flex;
}

.visa-card{
  color:white;
  background-image: url('/assets/images/247.jpg');
  &.reverse{
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    min-height:262px;
  }
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding:15px 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 8px 8px rgba(0,0,0,0.11),
  0 16px 16px rgba(0,0,0,0.11),
  0 32px 32px rgba(0,0,0,0.11);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 8px 8px rgba(0,0,0,0.11),
  0 16px 16px rgba(0,0,0,0.11),
  0 32px 32px rgba(0,0,0,0.11);;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 8px 8px rgba(0,0,0,0.11),
  0 16px 16px rgba(0,0,0,0.11),
  0 32px 32px rgba(0,0,0,0.11);
  .compose-row{
    .card-holder{
      font-weight: 400;
      font-size: 14px;
      color:#ffeffa;
    }
    .value{
      position:relative;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      word-wrap: break-word;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.entire-page-cover>div{
  margin-top:100px;
  width: 600px;
  background-color:white;
  border-radius: 8px;
  -webkit-box-shadow:0 1rem 4rem rgba(0, 0, 0, 0.250) !important;
  -moz-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.250) !important;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.250) !important;
  border:.25px solid silver;
  z-index: 2;
  padding: 0 30px 25px;
  position:relative;
}
.entire-page{
  background-size:cover;
  z-index: 1;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  position:absolute;
  background-color: #d4eafc;
}
.entire-page-cover{
  position:absolute;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:transparent;
}
.composite-part{
  margin-bottom:20px;
  .entitle{
    width:100%;
    float:left;
    font-size: 14.5px;
    font-weight: 500;
  }
  .composite-text{
    width: 100%;
    padding: 10px 8px 7px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-shadow: 0 0.05px 1.5px rgba(0, 0, 0, 0.25);
    transition: border-color 0.2s, box-shadow 0.5s;
  }
}
.composite-text:focus{
  border-color: #98c3e7  !important;
  border-size:1.15px;
  outline: 0;
  box-shadow: 0 0 1px 1px #98c3ff, 2px 5.75px 10px #cfdcf3 !important;
  transition:  border-color 0.2s, box-shadow 0.5s;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.footer-button{
  margin-top:15px;
  margin-bottom:15px;
  color:white;
  background-color:#006ad2;
  font-weight: 400;
  font-size: 16.5px;
  width:100%;
  padding-top: 13px ;
  padding-bottom: 9.78px;
  border:none;
  outline: none;
  border-radius: 4px;
  box-shadow: 4px 1rem 20px #cfdcf3 !important;
}
#creditcard{
  font-weight: 500;
  font-size: 15.5px;
}
.row>div{
  padding:0;
}
.carte-sim{
  margin-left:5px;
  font-size: 65px;
  transform: rotate(90deg);
}
mat-select{
  width:92%;
  border: 1px solid #ced4da;
  box-shadow: 0 0.05px 1.5px rgba(0, 0, 0, 0.25);
  padding:10px 10px 7px;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.5s;
}
mat-select:focus{
  border-color: #98c3e7  !important;
  border-size:1.15px;
  outline: 0;
  box-shadow: 0 0 1px 1px #98c3ff, 2px 5.75px 10px #cfdcf3 !important;
  transition:  border-color 0.2s, box-shadow 0.5s;
}
.divcardcontainer{
  position:relative;
  width:16px;
  min-height:30px;
}
.row-container{
  @media(max-width: 768px){
    text-align: center !important;
  }
}
.row-container>.row{
  width:95%;
}
.divcard{
  font-size: 25px !important;
  font-weight: bold;
  &.B-divcard{
    transition: opacity 0.5s, transform 0.2s !important;
    position:absolute;
    transform: translateY(0%);
  }
  &.C-divcard{
    transition: opacity 0.5s, transform 0.2s !important;
    position:absolute;
    z-index:0;
    transform: translateY(50%);
    opacity: 0;
  }
}
.divcardcontainer.transit{
  .B-divcard{
    position:absolute;
    opacity: 0;
    transform: translateY(-50%);
  }
  .C-divcard{
    position:absolute;
    z-index:0;
    transform: translateY(0%);
    opacity: 1;
    visibility: hidden;
  }
}
.number-container>.row{
  padding: 6px 8px;
}
.number-container{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  font-size: 20px;
  font-weight: bold;
  width: 96%;
  padding:5px;
  margin-top:30px;
  margin-bottom:30px;
  .row{
    height:100%;
  }
  .row-container{
    height:100%;
  }
}
div.active{
  //-webkit-transition: .6s ease;
  //-moz-transition: .6s ease;
  //transition: .6s ease;
  //border: 1px solid white;
  //border-radius: 4px;
}
.visa-card.active{
  //border-radius:15px;
  //border: none;
}
.date-row{
  padding-left:15px;
}
.number-container{
  .col-3:last-of-type{
      width:90%;
  }
}
.name-row{
  width:85%;
  padding: 5px 10px;
}
.date-row{
  padding: 5px 10px;
}
.reverse{
  display:flex;
}
.contenu-background{
  width: 100%;
  flex-direction: column;
  margin-top:15px;

  font-size: 15px;
  margin-bottom: auto;
  p{
    text-align: right;
  }
}
.text-container{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  width:100%;
  display: block;
  background-color: #fdfcfe;
  color:black;
  border-radius: 4px;
  padding:11px 5px;
}
.col-0{
  @media(max-width: 768px){
    display:none;
  }
}
.black-band{
  min-height: 60px;
  background-color: #0a0418;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom:10px;
}
.logo-carousel{
  position:relative;
  min-height:75px;
  text-align: right;
  .fab{
    text-align: right;
  }
}
.logo-card{
  width:100%;
  font-size: 50px;
  position:absolute;
  font-weight: bold;
  transition: opacity 0.2s, transform 0.2s !important;
  &.ancien{
    transform: translateY(0%);
  }
  &.nouveau{
    z-index:0;
    transform: translateY(50%);
    opacity: 0;
  }
}
.logo-carousel.transit{
  transition: opacity 0.2s, transform 0.2s !important;
  .ancien{
    opacity: 0;
    transform: translateY(-50%);
  }
  .nouveau{
    z-index:0;
    transform: translateY(0%);
    opacity: 1;
  }
}

.value-hidden{
  opacity: 0;
  text-transform: uppercase;
  position:absolute;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(50%);
}
.value-container{
  min-height:24px;
  position:relative;
}
.value-container.transit{
  .value{
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-50%);
    opacity: 0;
    position:absolute !important;
  }
  .value-hidden{
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(0%);
    opacity: 1;
    position:static !important;
    word-wrap: break-word;
  }
}

.bottom-logo{
  padding-top:15px;
  text-align: right;
  i{
    font-size: 40px;
  }
}
#tomove{
  position:absolute;
}
#tomove.moving{
  transition: .3s cubic-bezier(0.25, 0.1, 0.25, 1.0);
  border: 1px solid white ;
  border-radius: 4.5px;
}
.date-container-year, .date-container-month{
  position:relative;
}
.date-case-new{
  font-weight: 500;
  opacity: 0;
  position:absolute;
  transform: translateY(50%);
}
.date-case-ancient{
  font-weight: 500;
  position:static;
}
.separator{
  position:static;
  text-align: center;
}

.date-container-month.transit, .date-container-year.transit{
  .date-case-new{
    position:relative;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(0%);
    opacity: 1;
  }
  .date-case-ancient{
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    position:absolute;
    transform: translateY(-50%);
  }
}
.date-container-year{

}
.date-value-container>row{
}

button[disabled]{
  background-color: silver !important;

}
