<div class="toggler-body stylish magictime vanishIn" (click)="toggle(!entry)"  [ngClass]="{'active': !entry}">
  <div class="case case-positive magictime stylish" [ngClass]="{'active': !entry}">
    <i class="fas fa-circle"></i>
  </div>
</div>
