.toggler-body{
  display: flex;
  flex-direction: row;
  width: 60px;
  background:var(--toggle-gradient);
  height:30px;
  border-radius: 50px;

  cursor:pointer;
}
.case{
  text-align: center;
  padding-left:4px;
  padding-right:4px;
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  height:22px;
  margin-top:auto;
  margin-bottom: auto;
  margin-left:3px;
  margin-right:3px;
  width:23px;
  border-radius: 50%;
  cursor:pointer;
  color:var(--external-card-top);
  background-color:var(--external-card-top);
}

.toggler-body:hover{
  .case{
    background-color:var(--toggle-gradient-hover) !important;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    transition: .6s ease;
  }
}

.active{
  justify-content: flex-end;
}
.icone{
  margin:auto;
  min-width: 15px;
}
.magictime {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
