.entire-page-cover>div{
  width: 1000px;
  background-color:white;
  border-radius: 8px;
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  box-shadow:0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
  z-index: 2;

  filter: blur(0) !important;
  -webkit-filter: blur(0) !important;
  .row{
  }
}
.entire-page{
  background-image: url('/assets/images/back.jpg');

  filter: brightness(75%) blur(8px) !important;
  -webkit-filter: blur(8px);
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  position:absolute;
}
.entire-page-cover{
  position:absolute;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:transparent;
}
.slider{
  background-color:#00a9f4;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 50px 25px;
}
.parent{
  position:relative;
}
.swipertest{
  cursor:grab;
}
swiper{
  width:100%;
  padding-top:40px;
  padding-bottom: 40px;
}
app-sliderimage{
  width:100%;
  height:100%;
}
.dot-container{
  width:100%;
  text-align: center;
  padding-top:40px;
  color:white;
  i {
    padding: 0 3px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
  }
  i.activated, i.active{
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
  }
}
.login{
  padding-bottom: 50px;
  position:relative;
}
.top-text{
  display:flex;
  flex-direction: row;
  font-size:25px;
  width:100%;
  .row{
    width:100%;
  }
}
.page{

}
.logo{
  width:45px;
  height:auto;
  position: absolute;
  padding-right:15px;
  right: 12px;
  top: 12px;
}
.title-text{
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  color:#0086bb;
  margin-bottom: 0;
  padding-bottom: 0;
  max-width: 225px;
  margin-left:auto;
  margin-right: auto;
}
.case{

  cursor:pointer;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  text-align: center;
  padding:10px 0;
  color:#00adf1;
  i{
    margin-left:auto;
    margin-right:auto;
  }
  .texte-transition{
    margin-top:auto;
    margin-bottom:auto;
  }
}
.case.active,{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #0d88ba;
  color: white;
  font-weight: bold;
}
.case:hover{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #0d88ba;
  color: white;
  font-weight: bold;
}
.subtext{
  color: #0d88ba;
  text-align: center;
  font-size: 20px;
  padding-top:5px;
  margin-bottom:5px;
}
.subsubtext{
  padding-top:8px;
  font-size: 15px;
}
.header-inscription{
  width:100%;
}
.brands{
  display:flex;
  justify-content: center;
  .fab{
    display:block;
  }
}
.brand-button{
  font-size: 20px;
  cursor:pointer;
  color:white;
  width:30px;
  height:30px;
  border-radius: 50%;
  padding-top:5px;
    text-align: center;
  margin-right:3px;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  i{
    margin:auto;
  }
  &.facebook{
    background-color:#5d75c4 !important;
  }
  &.linkedin{
    background-color:#0071b6 !important;
  }
  &.github{
    background-color:black !important;
  }
  &.google{
    background-color:#f02c40 !important;
  }
}
.brand-button:hover{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  filter:brightness(80%);
}
.form-row{
  display:flex;
  flex-direction: row;
  background-color: #ebebeb;
  border-radius: 25px;
  margin-top:15px;
  margin-bottom:15px;
  padding: 10px 10px;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  i{
    color: #b8b8b8;
    height:100%;
    margin-top:auto;
    margin-bottom:auto;
    padding-left:3px;
    border-radius: 25px;
    background-color: #ebebeb;
  }
  input{
    padding-left:15px;
    border:none;
    outline: none;
    border-radius: 25px;
    background-color: #ebebeb;
  }
}
.form-row:focus-within{
  i{
    background-color: white;
  }
  input{
    background-color: white;
  }
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  background-color: white;
  border: 1px solid #00adf1;
  ::placeholder{
    color:white;
  }
  ::-webkit-input-placeholder {
    color:white;
  }
  :-ms-input-placeholder{
    color:white;
  }
  i{
    color:#00adf1;
  }
}
.form-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b8;
  font-size:15px;
  opacity: 1; /* Firefox */
  font-weight: bold;
}
::-webkit-input-placeholder { /* Edge */
  color: #b8b8b8;
  font-size:15px;
  opacity: 1 ; /* Firefox */
  font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b8b8b8;
  font-size:15px;
  opacity: 1; /* Firefox */
  font-weight: bold;
}
::selection {
  background: #00adf1;
  color: white;
}
.submit-button{
  margin:15px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 25px;
  box-shadow: none;
  padding: 8px;
  min-width: 200px;
  border:none;
  color:white;
  background-color:#00a9f4;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.submit-button:hover{
  background-color: #0086bb !important;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.submit-button[disabled]{
  background-color: #f84737;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.submit-button[disabled]:hover{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  background-color: #f84737 !important;
  cursor: not-allowed;
}
@media (max-width: 768px){
  .col-sm-0 {
    display:none;
  }
}
