<div class="parent magictime vanishIn" *ngIf="shown">
<div class="entire-page">

</div>
<div class="entire-page-cover">
  <div style="max-width: 100vw !important;">
    <div class="row">
      <div class="col-sm-0 col-md-6 slider">
        <swiper [config]="config" #usefulswiper class="swipertest">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let image of images">
              <app-sliderimage [background]="image"></app-sliderimage>
            </div>
          </div>
        </swiper>
        <div class="dot-container">
          <i *ngFor="let image of images ; index as i" [ngClass]="{'fa-dot-circle': (current == i), 'fa-circle': (current !== i), 'fas': true}" (click)="changeindex(i)"></i>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 login">
        <div class="top-text">
          <div class="row">
          <div class="case col-sm-12 col-md-6" (click)="changeTabIndex(0)" [ngClass]="{'active': currenttab == 0}">
            <i class="fas fa-pen-alt"></i>
            <p class="texte-transition">Inscription</p>
          </div>
          <div class="case col-sm-12 col-md-6" (click)="changeTabIndex(1)" [ngClass]="{'active': currenttab == 1}">

            <i class="fas fa-user-alt"></i>
            <p class="texte-transition">Login</p>
          </div>
          </div>
        </div>
        <swiper [config]="configtabs" #tabswiper>
          <div class="swiper-wrapper">
            <div class="swiper-slide"  *ngIf="registerForm">
              <form [formGroup]="registerForm">
              <div class="inscription-page page">
                <div class="header-inscription">
                  <h2 class="title-text pb-3">
                   Inscrivez-vous
                  </h2>
                </div>
                <div class="form-body">
                  <div class="form-row">
                    <i class="fas fa-user-alt"></i>
                    <input class="form-input" formControlName="pseudo" placeholder="Pseudo" />
                  </div>
                  <div class="form-row">
                    <i class="fas fa-envelope"></i>
                    <input class="form-input" formControlName="email" placeholder="Email" />
                  </div>
                  <div class="form-row">
                    <i class="fas fa-key" ></i>
                    <input class="form-input" formControlName="password" type="password" placeholder="mot-de-passe" />
                  </div>
                  <div class="form-row">
                    <i class="fas fa-key" ></i>
                    <input class="form-input" formControlName="confirmPassword" type="password" placeholder="Confirmation" />
                  </div>
                  <button class="submit-button" [disabled]="registerForm.invalid">
                    Inscription
                  </button>
                </div>
              </div>
              </form>
            </div>
            <div class="swiper-slide" *ngIf="logForm">
              <form [formGroup]="logForm">
                <div class="header-inscription">
                  <h2 class="title-text">
                    Connectez-vous
                  </h2>
                  <p class="subtext">
                    en utilisant
                  </p>
                </div>
                <div class="brands">
                  <div class="brand-button facebook">
                    <i class="fab fa-facebook "></i>
                  </div>
                  <div class="brand-button github">
                    <i class="fab fa-github "></i>
                  </div>
                  <div class="brand-button google">
                    <i class="fab fa-google "></i>
                  </div>
                  <div class="brand-button linkedin">
                    <i class="fab fa-linkedin "></i>
                  </div>
                </div>
                <p class="subtext subsubtext">
                  ou utilisez votre adresse mail
                </p>
                <div class="form-body">
                  <div class="form-row">
                    <i class="fas fa-envelope"></i>
                    <input class="form-input" formControlName="email" placeholder="Email" />
                  </div>
                  <div class="form-row">
                    <i class="fas fa-key" ></i>
                    <input class="form-input" type="password" formControlName="password" placeholder="mot-de-passe" />
                  </div>
                  <button class="submit-button" [disabled]="logForm.invalid">
                    Connexion
                  </button>
                </div>
              </form>
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>
</div>
</div>
