div.image{
  height:300px !important;
  width: 300px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px auto;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 50%;
}
.bottom-text{
  width:100%;
  color:white;
  text-align: center;
  font-size: 30px;
  padding-top:30px;
  font-weight: bold;
}
