@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "app/theme/colors";
@import "app/theme/theme";
@import "app/theme/animations";
$ionicons-font-path: "~ionicons/dist/fonts";@import "~ionicons/dist/scss/ionicons.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  -webkit-text-size-adjust:none;
  text-size-adjust: none;
}

@viewport {
  min-zoom: 1.75;
  max-zoom: 2.0;
}
/* You can add global styles to this file, and also import other style files */
body, html {
  width:100vw;
  height:100vh;
  font-family: 'Roboto';
  overflow-x: hidden;
}
*{
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.magictime{
}
.row{
  margin:0 !important;
}
.top-body{

}
.stylish{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-select{
  span{
    padding-left:5px;
  }
  .mat-select-arrow-wrapper{
    padding:0;
  }
}

#tomove{
  opacity: 0;
  z-index: 10;
}

.ripple{
  position: relative;
  transform: translate3d(0,0,0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,#c3c7ca 10%,transparent 5.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(20,20);
  opacity: 0;
  z-index:7;
  transition: transform .6s,opacity 1.5s;
}
.ripple:active:after {
  transform: scale(0,0);
  opacity: .5;
  transition: 0s;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #f5adbe !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color:#800047;
}
