<div class="body  magictime vanishIn">
    <div class="top-body">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="title-container">
            <p class="title">Social Media Dashboard</p>
            <p class="subtitle">Total Followers: 23,004</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 topper">
          <div class="nested-toggler">
            <p class="subtitle" *ngIf="darkmode">Dark Mode</p>
            <p class="subtitle" *ngIf="!darkmode">Light Mode</p>
            <switcher [entry]="darkmode" (onchange)="setTheme($event)"></switcher>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-body">
      <div class="bottom-nested-body">
        <div class="bottom-upper-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-xl-3" (mouseenter)="setBrands(listebrand.FACEBOOK)" (mouseleave)="disableBrands()">
              <div class="ui-card magictime vanishIn magictime vanishIn facebook"  [ngClass]="{'sursaut': isFacebook()}">
                <div class="compound-text">
                  <i class="fab fa-facebook-square"></i>
                  <p class="brand-title">
                    @nathanf
                  </p>
                </div>
                <p class="brand-number">
                  1987
                </p>
                <p class="describer">followers</p>
                <div class="compound-element ascend">
                  <i class="fas fa-angle-up"></i>
                  <p class="description">12 Today</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-3"  (mouseenter)="setBrands(listebrand.TWITTER)" (mouseleave)="disableBrands()">
              <div class="ui-card magictime vanishIn twitter" [ngClass]="{'sursaut': isTwitter()}">
                <div class="compound-text">
                  <i class="fab fa-twitter"></i>
                  <p class="brand-title">@nathanf</p>
                </div>
                <p class="brand-number">
                  1044
                </p>
                <p class="describer">followers</p>
                <div class="compound-element ascend">
                  <i class="fas fa-angle-up"></i>
                  <p class="description">99 Today</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-3"  (mouseenter)="setBrands(listebrand.INSTAGRAM)" (mouseleave)="disableBrands()">
              <div class="ui-card magictime vanishIn instagram" [ngClass]="{'sursaut': isInstagram()}">
                <div class="compound-text">
                  <i class="fab fa-instagram"></i>
                  <p class="brand-title">
                    @realnathanf
                  </p>
                </div>
                <p class="brand-number">
                  11k
                </p>
                <p class="describer">followers</p>
                <div class="compound-element ascend">
                  <i class="fas fa-angle-up"></i>
                  <p class="description">1099 Today</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-xl-3"  (mouseenter)="setBrands(listebrand.YOUTUBE)" (mouseleave)="disableBrands()">
              <div class="ui-card magictime vanishIn youtube" [ngClass]="{'sursaut': isYoutube()}">
                <div class="compound-text">
                  <i class="fab fa-youtube"></i>
                  <p class="brand-title">
                    Nathan F.
                  </p>
                </div>
                  <p class="brand-number">
                    8239
                  </p>
                <p class="describer">subscribers</p>
                <div class="compound-element descend">
                  <i class="fas fa-angle-down"></i>
                  <p class="description">144 Today</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overview-list">
          <p class="overview-title">
            Overview - Today
          </p>
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.FACEBOOK)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn facebook ascend" [ngClass]="{'sursaut': isFacebook()}">
                <div class="title-view">
                  <p>
                    Page Views
                  </p>
                  <i class="fab fa-facebook-square"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">87</p>
                  <div class="compound-numbers">
                    <i class="fas fa-angle-up"></i>
                    <p class="text">303%</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.FACEBOOK)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn facebook descend" [ngClass]="{'sursaut': isFacebook()}">
                <div class="title-view">
                  <p>
                    Likes
                  </p>
                  <i class="fab fa-facebook-square"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">52</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-down"></i>
                    <p class="text">2%</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.INSTAGRAM)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn instagram descend" [ngClass]="{'sursaut': isInstagram()}">
                <div class="title-view">
                  <p>
                    Likes
                  </p>
                  <i class="fab fa-instagram"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">5462</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-down"></i>
                    <p class="text">2257%</p>
                  </div>
                </div>
              </div></div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.INSTAGRAM)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn instagram descend" [ngClass]="{'sursaut': isInstagram()}">
                <div class="title-view">
                  <p>
                    Profile Views
                  </p>
                  <i class="fab fa-instagram"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">52k</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-down"></i>
                    <p class="text">1375%</p>
                  </div>
                </div>
              </div></div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.TWITTER)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn twitter ascend" [ngClass]="{'sursaut': isTwitter()}">
                <div class="title-view ">
                  <p>
                    Retweets
                  </p>
                  <i class="fab fa-twitter"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">117</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-up"></i>
                    <p class="text">303%</p>
                  </div>
                </div>
              </div></div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.TWITTER)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn twitter ascend" [ngClass]="{'sursaut': isTwitter()}">
                <div class="title-view ">
                  <p>
                    Likes
                  </p>
                  <i class="fab fa-twitter"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">507</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-up"></i>
                    <p class="text">553%</p>
                  </div>
                </div>
              </div></div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.YOUTUBE)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn youtube descend" [ngClass]="{'sursaut': isYoutube()}">
                <div class="title-view">
                  <p>
                    Likes
                  </p>
                  <i class="fab fa-youtube"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">107</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-down"></i>
                    <p class="text">19%</p>
                  </div>
                </div>
              </div></div>
            <div class="col-12 col-sm-6 col-lg-3"  (mouseenter)="setBrands(listebrand.YOUTUBE)" (mouseleave)="disableBrands()">
              <div class="ui-card-bottom magictime vanishIn youtube descend" [ngClass]="{'sursaut': isYoutube()}">
                <div class="title-view">
                  <p>
                    Total Views
                  </p>
                  <i class="fab fa-youtube"></i>
                </div>
                <div class="numbers-view">
                  <p class="number">1407</p>
                  <div class="compound-numbers ">
                    <i class="fas fa-angle-down"></i>
                    <p class="text">12%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
