.top-body, .title-container, .nested-toggler{
  width:100%;
}
.top-body, .bottom-body{
  padding-left: 10%;
  padding-right:10%;
}
p{
  margin-top:auto !important;
  margin-bottom: auto !important;
}
.title-container{
  display:flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}
.nested-toggler{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.title{
  color:var(--text-color);
  font-size: 2.2rem;
  font-weight: bold;
}
.subtitle{
  color:var(--subtitle-text-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right:20px;
}
.ui-card-bottom{
  margin-bottom:25px;
  position:relative;
  width:95%;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25),
  0 2px 2px rgba(0,0,0,0.20),
  0 4px 4px rgba(0,0,0,0.15),
  0 8px 8px rgba(0,0,0,0.10),
  0 16px 16px rgba(0,0,0,0.05);
  background:var(--internal-card);

  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  padding: 10% 8% 5%;
  display: flex;
  flex-direction: column;
  .title-view{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    p{
      color:var(--subtitle-text-color);
      font-weight: bold;
      font-size: 1.2rem;
    }
    .fab{
      font-size: 1.7rem;
    }
    padding-bottom: 25px;
  }
  .numbers-view{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    .fas{
      margin-top:auto;
      margin-bottom:auto;
      margin-right:2px;
    }
    .number{
      font-size: 2.2rem;
      color:var(--text-color-brand);
      font-weight: bold;
    }
    .compound-numbers{
      display:flex;
      flex-direction: row;
    }
  }
}
.ui-card-bottom.ascend{
  .compound-numbers{
    color:var(--ascend-text-color);
  }
}

.ui-card-bottom.descend {
  .compound-numbers {
    color: var(--descend-text-color);
  }
}
.ui-card-bottom.facebook{
  .fab{
    color:var(--facebook-theme-color) !important;
   }
}
.ui-card-bottom.twitter{
  .fab{
    color:var(--twitter-theme-color) !important;
  }
}
.ui-card-bottom.youtube{
  .fab{
    color:var(--youtube-theme-color) !important;
  }
}
.ui-card-bottom.instagram{
  .fab{
    background-image: var(--instagram-gradient-color);
    background-clip: text;
    text-fill-color: transparent;
    color:transparent;
  }
}
.ui-card{

  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  margin-bottom:25px;
  position:relative;
  width:95%;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25),
  0 2px 2px rgba(0,0,0,0.20),
  0 4px 4px rgba(0,0,0,0.15),
  0 8px 8px rgba(0,0,0,0.10),
  0 16px 16px rgba(0,0,0,0.05);
  background:var(--internal-card);
  padding: 10% 20% 8%;
  display: flex;
  flex-direction: column;
}

.brand-number, .describer{
  width:100%;
  text-align: center;
}
.brand-title{
  color:var(--subtitle-text-color);
  font-size: .9rem !important;
  font-weight: bold;
}
.brand-number{
  color:var(--text-color-brand);
  font-size: 5em;
  font-weight: bold;
  line-height: 4rem;
  padding-top:2rem;
  padding-bottom:.5rem;
  letter-spacing: -2px;
  font-stretch: condensed;
}
.describer{
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--subtitle-text-color);
}
.top-body{
  background-color: var(--external-card-top);
  padding-bottom:150px;
}
.bottom-body{
  background-color: var(--external-card-bottom);
  position:relative;
}
.topper{
  justify-content: center;
  align-items: center;
  display: flex;
}
.bottom-nested-body{
  position:relative;
  bottom:130px;
}

.compound-text{
  width:100%;
  display:flex;
  justify-content: center;
  margin-bottom:10px;
  .fab{
    font-size: 1.7rem;
    margin-right:7px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    transition: .6s ease;
  }
}
.ui-card.facebook{
  .compound-text{
    .fab{
      color:var(--facebook-theme-color);
    }
  }
  &:after{
    content: '';
    position: absolute;
    top:0;
    width:100%;
    height:0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 7px solid var(--facebook-theme-color);
  }
}
.ui-card.instagram{
  .compound-text{
    .fab {
      background-image: var(--instagram-gradient-color);
      background-clip: text;
      text-fill-color: transparent;
      color:transparent;
    }
  }
  &:after{
    content: '';
    position: absolute;
    top:0;
    width:100%;
    height:7px;
    background-image: var(--instagram-gradient-color);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.ui-card.youtube{
  .compound-text{
    .fab{
      color:var(--youtube-theme-color);
    }
 }
  &:after{
    content: '';
    position: absolute;
    top:0;
    width:100%;
    height:0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 7px solid var(--youtube-theme-color);
  }
}
.ui-card.twitter{
  .compound-text{
    .fab{
      color:var(--twitter-theme-color);
    }
  }
  &:after{
    content: '';
    position: absolute;
    top:0;
    width:100%;
    height:0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    left:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 7px solid var(--twitter-theme-color);
  }
}
.compound-element{
  padding-top:20px;
  width:100%;
  display:flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  &.ascend{
    color: var(--ascend-text-color);
  }
  &.descend{
    color:var(--descend-text-color);
  }
  p{
    font-size: 1rem;
    font-weight: bold;
  }
  .fas{
    margin-right:5px;
    margin-top:auto;
    margin-bottom: auto;
  }
}
.overview-title{
  width:100%;
  padding-left:15px;
  font-size: 2rem;
  color:var(--text-color);
  font-weight: bold;
  padding-top:15px;
  padding-bottom: 25px;
}

@media(max-width: 768px){
  .title-container{
    border-bottom:1px solid var(--subtitle-text-color);
    padding-bottom:20px;
    .title{
      font-size:2rem;
    }
  }
  .nested-toggler{
    justify-content: space-between;
    margin-bottom:25px;
  }
}
@media (max-width: 1375px){
  .top-body, .bottom-body{
    padding-left: 5px;
    padding-right:5px;
    .ui-card{
      padding-top:5%;
      padding-left:15px;
      padding-right:15px;
      width:100%;
    }
    .ui-card-bottom{
      padding-top:5%;
      padding-left:15px;
      padding-right:15px;
      width:100%;
    }
  }
}

.ui-card.magictime{
  -webkit-animation-duration: 2s;
  animation-duration:2s;
}

.ui-card-bottom.magictime{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.col-12{
  position:relative;
}
.ui-card:hover{

  bottom:10px;
}
.ui-card:hover,.ui-card.sursaut{
  cursor:pointer;
  &:after{
    border-bottom: 7px solid;
    border-bottom-color:var(--brand-hover) !important;
  }
  .brand-number{
    color:var(--brand-hover) !important;
  }
  .compound-text{
    p{
      -webkit-transition: .6s ease;
      -moz-transition: .6s ease;
      transition: .6s ease;
      color:var(--brand-hover) !important;
    }
    i{
      -webkit-transition: .6s ease;
      -moz-transition: .6s ease;
      transition: .6s ease;
      color:var(--brand-hover) !important;
    }
  }
  .compound-element{
    p{

      color:var(--brand-hover) !important;
    }
    i{
      -webkit-transition: .6s ease;
      -moz-transition: .6s ease;
      transition: .6s ease;
      color:var(--brand-hover) !important;
    }
  }
  .describer{
    color:var(--brand-hover);
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    transition: .6s ease;
    font-weight: bold;
  }
}
.ui-card.facebook:hover,.ui-card.facebook.sursaut{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  background-color:var(--facebook-theme-color);
}
.ui-card.twitter:hover,.ui-card.twitter.sursaut{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  background-color:var(--twitter-theme-color);
}
.ui-card.instagram:hover,.ui-card.instagram.sursaut{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  background-image:var(--instagram-gradient-color);
}
.ui-card.youtube:hover,.ui-card.youtube.sursaut{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  background-color:var(--youtube-theme-color);
}
.ui-card-bottom:hover{
  cursor:pointer;
  bottom:5px;
  .title-view{
    p, i{
      color:var(--brand-hover) !important;
    }
  }
  .numbers-view{
    .number{
      color:var(--brand-hover) !important;
    }
    p,i {
      color:var(--brand-hover) !important;
    }
  }
}
.ui-card-bottom:after{
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  height: 8px;
  width: 0;
  opacity: 0;
  -webkit-transition: .8s ease;
  -moz-transition: .8s ease;
  transition: .8s ease;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui-card-bottom.facebook:hover:after, .ui-card-bottom.facebook.sursaut:after{
  opacity:1;
  width:100%;
  border-bottom: 7px solid var(--facebook-theme-color);
  -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
  -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
  transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
}
.ui-card-bottom.twitter:hover:after, .ui-card-bottom.twitter.sursaut:after{
    opacity:1;
    width:100%;
    border-bottom: 7px solid var(--twitter-theme-color);
   -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
   -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
   transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
}
.ui-card-bottom.instagram:hover:after, .ui-card-bottom.instagram.sursaut:after{
    opacity:1;
    width:100%;
    border-bottom: 7px solid transparent;
    background:var(--instagram-gradient-color);
    -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
    -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
    transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
}
.ui-card-bottom.youtube:hover:after, .ui-card-bottom.youtube.sursaut:after{
     opacity:1;
     width:100%;
     border-bottom: 7px solid var(--youtube-theme-color);
     -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
     -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
     transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
}
.ui-card-bottom.sursaut{
  .title-view{
    p, i{
      color:var(--brand-hover) !important;
    }
  }
  .numbers-view{
    .number{
      color:var(--brand-hover) !important;
    }
    p,i {
      color:var(--brand-hover) !important;
    }
  }
  &.ascend{
    background-color:var(--ascend-text-color);

    -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
    -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
    transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
  }
  &.descend{
    background-color:var(--descend-text-color);

    -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
    -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
    transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
  }
  &:after{
    border-bottom: 7px solid var(--brand-hover) !important;
    background:none;
    -moz-transition:.8s cubic-bezier(.645,.045,.355,1),opacity 1s;
    -webkit-transition:.8s cubic-bezier(.645,.045,.355,1),opacity 1s;
    transition:.8s cubic-bezier(.645,.045,.355,1),opacity 1s;
  }

  -moz-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
  -webkit-transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
  transition:.3s cubic-bezier(.645,.045,.355,1),opacity 1s;
}

.body{
  max-width:100vw;
  overflow-x: hidden;
}
*{

}
