.entire-page{
  background-size:cover;
  z-index: 1;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  position:absolute;
  background-color: #e8effd;
}
.entire-page-cover{
  position:absolute;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:transparent;
}
.main-body{
  width:100%;
}
.entire-page-cover>div{
  transform: scale(1.4);
  display:flex;
  justify-content: center;
  align-items: center;
  width: 370px !important;
  background-color:white;
  border-radius: 3px;
  z-index: 2;
  position:relative;


  overflow:hidden;
  min-height:50px;
  box-shadow: 0 1px 1px #dfe8f5, 0 2px 2px #dfe8f5, 0 4px 4px #dfe8f5, 0 22px 24px #dfe8f5;
  @media(max-width: 768px){
    transform: scale(1);
    width: 300px !important;
  }
}
@font-face {
  font-family: Myriad;
  src: url("/assets/myriad.OTF") format("opentype");
}
@font-face {
  font-family: 'iconfont';
  src: url('/assets/icomoon.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'iconfonttest';
  src:  url('/assets/ellipsis.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.header-bar{
  padding: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  .fa-bars, .icon-search , .icon-ellipsis, .fa-arrow-left, .fa-microphone, .ion-md-mic{
    padding: 0px 20px;
    cursor: pointer;
    font-weight: 550 !important;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 16px;
    color:#657d97;
    animation-fill-mode:forwards;
    z-index:8;
    @media(max-width: 768px){
      font-size: 17px;
    }
  }
  .fa-bars, .icon-search , p , .icon-ellipsis{

  }
  .fa-bars{
    animation-fill-mode:forwards;
  }
  .ion-md-mic{
    animation-fill-mode:forwards;
    font-size: 20px;
    transform: translateX(10px);
    opacity: 0;
  }
  .fa-arrow-left{
    font-size: 17px;
    animation-fill-mode:forwards;
    transform: translateX(10px);
    opacity: 0;
  }
  .icon-search{
    font-size: 16px;
    opacity: 1;
    animation-fill-mode:forwards;
    font-weight: bold !important;
    @media(max-width: 768px){
      font-size: 16px;
    }
  }
  .icon-ellipsis{
    animation-fill-mode:forwards;
    font-size: 18px;
    @media(max-width: 768px){
      font-size: 16px;
    }
  }
  p{
    font-weight: 500;
    margin: auto;
    margin-left: 0;
    /* margin-top: 3px; */
    color: #484e58;
    font-family: Myriad !important;
    padding: 0px 20px;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 0;
    opacity: 1;
    transform: scaleX(.9);
    @media(max-width: 768px){
      font-size: 18px;
      padding: 0px 10px;
    }
  }
}
.icon-search:before {
  text-transform: none;
  font-family:"iconfont";
  content: "\e900";
}
.icon-ellipsis:before{
  text-transform: none;
  font-family:"iconfonttest";
  content: "\e901";
}



@keyframes showing {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.myinput{
  width:100%;
  background-color: transparent;
  border:none;
  outline: none;
  min-height: 27px;
  margin: auto;
  margin-left: auto;
  font-size: 18px;
  caret-color:#4f7ce0;
  opacity:0;
  animation: moving .3s ease-out;
  -webkit-animation: moving .3s ease-out;
  animation-fill-mode:forwards;
  overflow: hidden;
}

@keyframes moving {
  0% {
    opacity:0;
  }
  100% {
    transform: scale(1);
    opacity:1;
  }
}
.moving{
  animation: moving .2s ease-out;
  animation-fill-mode:forwards;
}
@keyframes moving {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.myinput::placeholder{
  font-family: Myriad !important;
  font-weight: 575;
  color:#657d97;
  animation: moving .2s ease-out;
  animation-fill-mode:forwards;
  position:relative;
  transform: translateX(-10px);
}

.myinput::-webkit-input-placeholder {
  font-family: Myriad !important;
  font-weight: 575;
  color:#657d97;
  transform: translateX(-10px);
  -webkit-animation: moving .2s ease-out;
  -webkit-animation-fill-mode:forwards;

}
@keyframes growing {
  0% {
    transform:  scaleY(.9);
    opacity:0.50;
  }
  100% {
    transform:  scaleY(1);
    opacity:1;
  }
}



.input-container{
  overflow: hidden;
  padding: 0px 0 0 20px;
  display: flex;
  width: 350px;
}
.fading{
  animation-fill-mode:forwards;
  opacity:0;
  animation: leaves .6s ease-out;
  -webkit-animation: leaves .6s ease-out;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
}
.myinput.fading, .ion-md-mic.fading, .fa-arrow-left.fading, .icon-search.fading, .fa-times-circle.fading{
  animation: leavesinput .3s ease-out !important;
  -webkit-animation: leavesinput .3s ease-out !important;
}
@keyframes leavesinput {
  0% {
    transform: translateX(0);
    opacity:1;
  }
  50% {
    opacity:.5;
    transform: translateX(-10px);
  }
  100%{
    opacity: 0;
    transform: translateX(-15px);
  }
}

.ongo{
  &::placeholder{
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    transform: translateX(0) !important;
  }
  &::-webkit-input-placeholder {
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    transform: translateX(0) !important;
  }
}

.ongo.fa-arrow-left{
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;

}
@keyframes ongo {
  0% {
    opacity:1;
  }
  100% {
    transform: scaleX(.95);
    opacity:0;
  }
}
.ongotest{
  &::placeholder{
    opacity: .2;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    transform: translateX(8px) !important;
  }
  &::-webkit-input-placeholder {
    opacity: .2;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    transform: translateX(8px) !important;
  }
}
::selection {
  background :#e7eefd;
  color: #5f7b97;
}
.header-bar{
  position:relative;
}
.main-bar{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
}
.submain-bar{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
}
.main-bar, .submain-bar{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 0;
}


.shown{
  opacity: 1;
  .fa-arrow-left{
    animation: arrow .6s ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .ion-md-mic{
    animation: arrow .6s ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .icon-ellipsis{
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation: barsx .6s ease-out;
  }
  .icon-search{
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation: barsx .6s ease-out;
  }
  .fa-bars{
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation: bars .6s ease-out;
  }
  p{
    animation: holdup .6s ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}
@keyframes holdup {
  from{
    opacity: 0;
    transform: scaleX(.95);
  }
  to{
    opacity: 1 !important;
    transform: scaleX(1);
  }
}
@keyframes arrow {
  from{
    opacity: 0;
    transform: translateX(10px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.submain-bar{

}
@keyframes barsx {
  0% {
    opacity:0 !important;
    transform: translateX(-5px);
  }
  100% {
    opacity:1 !important;
    transform: translateX(0);
  }
}
@keyframes bars {
  0% {
    opacity:0 !important;
    transform: translateX(3px);
  }
  100% {
    opacity:1 !important;
    transform: translateX(0);
  }
}
.movingleft{
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  transform: translateX(-25px);
}
@keyframes leaves {
  0% {
    transform: scaleX(1);
    opacity:1 !important;
  }
  100% {
    transform: scaleX(.95);
    opacity:0;
  }
}
.fa-times-circle{
  font-size: 10px;
  margin: auto;
  cursor:pointer;
  color: #e7daff;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  &:hover{
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
    filter: brightness(75%);
    color:red;
  }
}
.fa-times-circle.magictime{
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}
.vertical-verizon-menu{
  display:none;
}
@media(min-width: 1125px){
  .vertical-verizon-menu{
    display:flex;
    background-color: white;
    flex-direction: column;
    position:absolute;
    border-radius: 5px;
    top:0;
    right:0;
    &:hover{
      background-color: #e7eefd !important;
    }
    overflow: hidden;
    .dot-menu{

      overflow: hidden;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      transition: .3s ease;
      min-width: 125px;
      animation: menu .6s ease-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      background-color:#e7daff;
      margin:5px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 10px;
      i{
        font-size: 80px;
        color:white;
      }
      &:hover{
        i{
          color:#e7eefd;
        }
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        transition: .3s ease;
        background-color: #00adf1;
        cursor:pointer;
      }
    }
  }
}
@keyframes menu {
  0% {
    width:0;
    height:0;
  }
  100% {
    width:125px;
    height:125px
  }
}
.desovered{

}
@keyframes menuinvert {
  0% {
    height:125px;
  }
  100% {
    height:0;
  }
}
