<div class="parent magictime vanishIn">
  <div class="entire-page   magictime vanishIn">

  </div>
  <div class="entire-page-cover">
    <div style="max-width: 100vw !important;">
      <div class="main-body">
        <div class="header-bar">
          <div class="main-bar" [ngClass]="{'shown': !mode}">
            <i class="fas fa-bars ripple" [ngClass]="{'fading' : ontransition}"></i>
            <p [ngClass]="{'fading' : ontransition}">Application</p>
            <span class="icon-search ripple" [ngClass]="{'fading' : ontransition}" (click)="switchMode(true)"></span>
            <span class="icon-ellipsis ripple" (click)="toggleHover()" [ngClass]="{'fading' : ontransition}"></span>
          </div>
          <div class="submain-bar" [ngClass]="{'shown': mode}">
            <i class="fas fa-arrow-left ripple" (click)="switchMode(false)" [ngClass]="{'fading' : ontransition, 'ongo': ongo}"></i>
            <div class="input-container">
              <input type="text" #input class="myinput" [(ngModel)]="texte" [ngClass]="{'fading' : ontransition, 'ongo': ongo, 'ongotest': ongotest}" placeholder="Search something"/>
              <i title="effacer le texte" class="fas fa-times-circle  magictime vanishIn" [ngClass]="{'fading': ondelete}"  *ngIf="texte!=''" (click)="fadeCross()"></i>
            </div>
            <i title="micro version beta"  class="icon ion-md-mic ripple"[ngClass]="{'fading' : ontransition}"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vertical-verizon-menu" *ngIf="hoveredPoints" [ngClass]="{'magictime rotateUp' : onhoveredx}">
  <div class="dot-menu ripple">
    <i class="fas fa-calculator"></i>
  </div>
  <div class="dot-menu ripple">
    <i class="fas fa-calendar"></i>
  </div>
  <div class="dot-menu ripple">
    <i class="fas fa-book"></i>
  </div>
</div>
