<div class="parent magictime vanishIn">
  <div class="entire-page   magictime vanishIn">

  </div>
  <div class="entire-page-cover">
    <div style="max-width: 100vw !important;">
      <div class="upper-body">
          <div class="reset-md magictime vanishIn" title="reset to one player" (click)="changenumber(1)" *ngIf="enablednumber!==1">
            <i class="fas fa-retweet"></i>
          </div>
          <div class="gamepad-container" *ngFor="let gamepad of listegamepad; let index = index" (mouseenter)="focusOne(index)" (mouseleave)="defocusOne(index)"
                 [ngClass]="{'shown': gamepad.enabled, 'showntransition': gamepad.transition, 'hovered':gamepad == focusedOne , 'resizekely':onloading}">
            <div class="gamepad-body {{gamepad.name}}" [ngClass]="{'shown': gamepad.enabled,'showntransition': gamepad.transition}" [ngStyle]="{'background': gamepad.background}">
              <div class="string-body magictime vanishIn" [ngStyle]="{'background': gamepad.stringcolor}" >
              </div>
              <i class="fas fa-gamepad magictime vanishIn" (focus)="selectedone = 1" [ngStyle]="{'color': gamepad.color}" style="z-index: 50"></i>
            </div>
            <div class="gamepad-fixer">
              <div class="orbe  magictime vanishIn" [ngStyle]="{'background': gamepad.background}">
                <i [ngStyle]="{'color': gamepad.color}" class="{{gamepad.orb}}"></i>
              </div>
            </div>
          </div>
      </div>
      <div class="lower-body">
        <div class="row">
          <div class="col-12 col-md-6 text">
            <div>
              <p>Number of players : <span class="badge badge-info">{{numbertab[enablednumber]}}</span> </p>
            </div>
          </div>
          <div class="col-12 col-md-6 adder">
            <div>
              <ng-container  *ngIf="!onloading">
                <div class="widget widget-minus" [ngClass]="{'disabled': enablednumber == 1}" (click)="changenumber(enablednumber - 1)">
                  <span>{{enablednumber == 1 ? '' : '-' }}</span>
                </div>
                <div class="widget widget-number">
                  <span>{{enablednumber}}</span>
                </div>
                <div class="widget widget-plus" [ngClass]="{'disabled': enablednumber == 4}"  (click)="changenumber(enablednumber + 1)">
                  <span>{{enablednumber == 4 ? '' : '+' }}</span>
                </div>
              </ng-container>
              <img src="/assets/images/spinner.svg" class="spinner" *ngIf="onloading" />
            </div>
          </div>
          <div class="col-12 mini-dices">
            <div class="reset-button-md  magictime vanishIn">
              <div class="player-button-md   magictime vanishIn" (mouseenter)="focusOne(index)" (mouseleave)="defocusOne(index)" [ngClass]="{'shown-here': gamepad.enabled}" *ngFor="let gamepad of listegamepad; let index = index" [ngStyle]="{'background-color':gamepad.color}">
                <i class="fas fa-{{gamepad.dice}}" [ngClass]="{'rotatings': focusedOne == gamepad}" [ngStyle]="{'color':gamepad.background}"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="reset-button  magictime vanishIn" [ngClass]="{'blurit':onloading}">
  <div class="player-button magictime vanishIn" [ngClass]="{'shown-here': gamepad.enabled, 'transit': gamepad.transition}" *ngFor="let gamepad of listegamepad; let index = index" (mouseenter)="focusOne(index)" (mouseleave)="defocusOne(index)" [ngStyle]="{'background-color':gamepad.color}">
    <i class="fas fa-{{gamepad.dice}}" [ngStyle]="{'color':gamepad.background}" [ngClass]="{'rotatings': focusedOne == gamepad || gamepad.transition}"></i>
  </div>
</div>
<div class="reset magictime vanishIn" title="reset to one player" (click)="changenumber(1)" *ngIf="enablednumber!==1">
  <i class="fas fa-retweet"></i>
</div>
