p{
  margin-bottom: 0;
  font-weight: 500;
}
.entire-page-cover>div{
  overflow: hidden;
  margin-top:100px;
  width: 600px;
  background-color:white;
  border-radius: 25px;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);;
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
  z-index: 2;
  position:relative;
}
.upper-body, .lower-body{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
  width:100%;
}
.entire-page{
  background-size:cover;
  z-index: 1;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  position:absolute;
  background-color: #f6f6f6;
}
.entire-page-cover{
  position:absolute;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:transparent;
}
.adder>div{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  max-height: 30px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.widget{
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  display: block;
}
.widget-number{
  cursor:default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{

  }
}
i.widget{
  color:#e4e4e4;
}
.widget-minus{

  margin-right:13px;
}

.widget-plus{
  margin-left:13px;
}
.widget-minus,.widget-plus{
  cursor:pointer;
  position:relative;
  background-color: #e4e4e4;
  border-radius: 50%;
  width: 30px;
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  height:30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  span{
    line-height: 25px;
    font-size: 25px;
    color:#9a9a9a;
    width:100%;
    text-align: center;
  }
  &:hover{
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    transition: .6s ease;
    filter:brightness(80%);
  }
}
.gamepad-fixer{
  height:100%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  .orbe{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),
    0 2px 2px rgba(0,0,0,0.15),
    0 4px 4px rgba(0,0,0,0.15),
    0 8px 8px rgba(0,0,0,0.15);
    cursor:pointer;
    position:absolute;
    bottom:1rem;
    width:50px;
    height:50px;
    margin-left:auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right:auto;
    border-radius: 50%;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    transition: .6s ease;
    overflow: hidden;
    i{
      font-size: 2rem;
    }
    &:hover{
      box-shadow: 0 1px 1px rgba(0,0,0,0.25),
      0 2px 2px rgba(0,0,0,0.20),
      0 4px 4px rgba(0,0,0,0.15),
      0 8px 8px rgba(0,0,0,0.10),
      0 16px 16px rgba(0,0,0,0.05);
      filter:brightness(80%);
      bottom:1.2rem;
    }
  }
}
.background-content{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100%;
  z-index: 4;
  position:absolute;left:0;
  top:0;
}
.lower-body{
  padding: 25px 10px 30px;
}
@keyframes leaves {
  0% {
    width:50%;
  }
  100% {
    width:100%;
  }
}
@keyframes leaves-reverse {
  0% {
    width:100%;
  }
  100% {
    width:50%;
  }
}
@keyframes opacity {
  0% {
    opacity:0;
    display:block;
  }
  100% {
    opacity: 1;
    display:block;
  }
}
.resizekely{
}
.upper-body{
  display:flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  .gamepad-container{
    position:relative;
    width:100%;
    overflow:hidden;
    display:none;
    animation: leaves .4s ease-in;
    -webkit-animation: leaves .4s ease-in;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    .gamepad-body{
      cursor:pointer;
      position:relative;
      z-index:5 !important;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s;
      display: none;
      opacity: 0;
      padding : 6rem 0 2rem;
      text-align: center;
      width:100%;
      &:before{
        content:"";
        position :absolute;
        width:8px;
        height:3px;
        background-color: black;
        opacity: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom:0;
        z-index: 50;
        -webkit-transition: .6s ease;
        -moz-transition: .6s ease;
        transition: .6s ease;
      }
      &:after{
        content:"";
        position :absolute;
        width:8px;
        height:8px;
        background-color: black;
        opacity: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top:0;
        bottom:0;
        z-index: 50;
        -webkit-transition: .6s ease;
        -moz-transition: .6s ease;
        transition: .6s ease;
      }
      height:100%;
      i{
        font-size: 5rem;
      }
      .string-body{
        position :absolute;
        width:8px;
        height:7rem;
        background-color: black;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top:0;
        bottom:0;
      }
    }

  }
}
.gamepad-container:hover, .gamepad-container.hovered{
  .gamepad-body{
    z-index:1;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    transition: all 1.2s;
    transform: translateY(-5rem);
    &:before{
      opacity: 1 !important;
      -webkit-transition: all 1.2s;
      -moz-transition: all 1.2s;
      transition: all 1.2s;
      width:100% !important;

    }
    &:after {
      -webkit-transition: all 1.2s;
      -moz-transition: all 1.2s;
      transition: all 1.2s;
      opacity: 1 !important;
      height:7rem !important;
    }
  }
}
.gamepad-body.blue:after{
  background-color: #6200f3 !important;
}
.gamepad-body.pink:after{
  background-color: #ff0093 !important;
}

.gamepad-body.green:after{
  background-color: #00ff6c !important;
}

.gamepad-body.orange:after{
  background-color: #f9b445 !important;
}

.gamepad-body.blue:before{
  background: linear-gradient(to right, rgb(131, 164, 212), rgb(182, 251, 255)) !important;
}
.gamepad-body.pink:before{
  background: linear-gradient(to right, rgb(229, 57, 53), rgb(227, 93, 91)) !important;
}

.gamepad-body.green:before{
  background:linear-gradient(to right, rgb(112, 225, 245), rgb(255, 209, 148)) !important;
}

.gamepad-body.orange:before{
  background: linear-gradient(to right, rgb(209, 145, 60), rgb(255, 209, 148)) !important;
}
.gamepad-container.shown{
  display:block !important;
  opacity: 1 !important;
  .gamepad-body{
    display:block !important;
    opacity: 1 !important;
  }
}
.showntransition{
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    transition: all 1.2s;
    display:block !important;
    opacity: 1 !important;
    transform: translateY(-100%);
    z-index: 1 !important;
    .fa-gamepad{
      -webkit-animation: rotating .4s linear infinite;
    }
}
.disabled{
  pointer-events: none;
  background-color:#e4e4e4;
  span{
    color:#e4e4e4;
  }
}

@-webkit-keyframes opacity {
  from{
    display:none;
    opacity: 0;
  }
  to{
    display:block;
    opacity: 1;
  }
}
@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}
.rotatings{
  -webkit-animation: rotating 2s linear infinite;
}
.spinner{
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  transition: .6s ease;
  width:75px;
  max-height:30px;
}
.reset-button{
  z-index: 5;
  display: flex;
  flex-direction: row;
  position:fixed;
  top:25px;
  right:25px;
  background-color: transparent;
  .player-button{
    animation-direction: alternate !important;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
    cursor:pointer;
    opacity: 0;
    position:relative;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    margin-right:10px;
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
    i{
      color:white;
      font-size: 30px;
    }
  }
  .player-button:hover{
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
  }
}
.shown-here{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
  display:flex !important;
  opacity: 1 !important;
}
.fa-gamepad.vanishIn{
  -webkit-animation-duration: 1s;
  animation-duration:1s;
}
.string-body.vanishIn{
  -webkit-animation-duration: 1s;
  animation-duration:1s;
}
.orbe.vanishIn{
  -webkit-animation-duration: 1.3s;
  animation-duration:1.3s;
}
.reset-button-md{
  display:none;
}

.mini-dices{
  margin-top:15px;
  display:flex;
  justify-content: center;
  align-items: center;
  .player-button-md{
    cursor:pointer;
    opacity: 0;
    position:relative;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
    i{
      color:white;
      font-size: 30px;
    }
    &:hover{
      filter:brightness(80%);
    }
  }
}
.transitioncard{
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
  display:block !important;
  opacity: 1 !important;
  transform: translateY(-100%);
}

.fa-gamepad{

}
.transit{
  -webkit-transition: .5s ease !important;
  -moz-transition: .5s ease !important;
  transition: .5s ease !important;
}
.reset{
  -webkit-transition: .5s ease !important;
  -moz-transition: .5s ease !important;
  transition: .5s ease !important;
  cursor:pointer;
  position:fixed;
  right:25px;
  bottom:25px;
  display:block;
  background-color: #00adf1;
  color:white;
  text-align: center;
  border-radius: 50%;
  width:50px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  i{
    margin:auto;
    font-size: 25px;
  }
  &:hover{
    -webkit-transition: .5s ease !important;
    -moz-transition: .5s ease !important;
    transition: .5s ease !important;
    filter: brightness(80%);
  }
}
.reset-md{
  position: absolute;
  -webkit-transition: .5s ease !important;
  -moz-transition: .5s ease !important;
  transition: .5s ease !important;
  cursor:pointer;
  left:25px;
  top:25px;
  z-index: 75;
  background-color: #00adf1;
  color:white;
  text-align: center;
  border-radius: 50%;
  width:50px;
  height: 50px;
  display:none;
  justify-content: center;
  align-items: center;
  i{
    margin:auto;
    font-size: 25px;
  }
  &:hover{
    -webkit-transition: .5s ease !important;
    -moz-transition: .5s ease !important;
    transition: .5s ease !important;
    filter: brightness(80%);
  }
}
.resetter{
  display:none;
  align-items: center;
  justify-content: center;
}
@media(max-width: 768px){
  .reset-button-md{
    display:flex;
  }
  .reset-button{
    display:none;
  }
  .lower-body{
    .text{
      text-align: center;
    }
    .adder{
      margin-top:2rem;
      div{
        justify-content: center;
        align-items:center;
      }
    }
  }
  .upper-body{
    flex-wrap: wrap;
    .gamepad-container{
      flex-grow: 1;
      width:50%;
      margin: auto;
      animation: none !important;
    }
  }
  .reset{
    display:none;
  }
  .reset-md{
    display:flex !important;
  }
}
