.entire-page{
  background-size:cover;
  z-index: 1;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  position:absolute;
  background: linear-gradient(56deg, rgba(54,35,70,1) 30%, rgba(112,53,79,1) 49%, rgba(127,55,80,1) 72%, rgba(196,73,86,1) 89%);
}
.entire-page-cover{
  position:absolute;
  width:100%;
  min-height:100vh;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:transparent;
  overflow: hidden;
}
.main-form:hover{
  transform: scale(1.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}
.entire-page-cover>.main-form{
  transition: all .4s ease;
  min-height: 450px;
  min-width: 950px;
  display:flex;
  border-radius: 13px;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 2;
  position:relative;
  overflow:hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);

  @media (max-width: 1375px){
    min-width: 800px;
  }
  @media(max-width: 768px){
    min-width: 400px;
    flex-wrap: wrap;
    flex-direction: column;
  }

}
.login-form{
  width: 100%;
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 50px 84px;
  background: linear-gradient(99deg, rgba(172,51,85,1) 34%, rgba(219,61,88,1) 89%);

  @media(max-width: 768px){
    padding: 30px 40px;
  }
}

.space-chart{
  width: 100%;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position:relative;
  background: linear-gradient(48deg, rgba(49,21,55,1) 17%, rgba(114,37,72,1) 89%);
  p{
    color:#c76174;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.8rem;
    text-align: center;
    margin-top:1em;
    @media(max-width: 768px){
      font-size: 1.2rem;
      letter-spacing: .9rem;
    }
  }
}
.button-container{
  display:flex;
  margin-top: 20px;
  justify-content: center;
  @media(max-width: 768px){
    flex-wrap: wrap;
  }
  button:first-child{
    margin-right: 20px;
    @media(max-width: 768px){
      margin-right: 0;
    }
  }
  button{
    font-size: 20px;
    padding: 10px ;
    width: 100%;
    outline: none;
    color:#f5adbe;
    border: 1px solid #f5adbe;
    background-color: transparent;
    transition: all .4s ease;
    @media(max-width: 768px){
      margin-top:15px;
    }
    &:hover{
      color:white;
      border-color: white;
      transform: scale(1.1);
    }
  }
}
mat-label{
  color:#f5adbe;
  font-size: 20px;
}
.forgot{
  width:100%;
  text-align: center;
  color:#f5adbe;
  cursor:pointer;
  margin-top: 40%;
  font-size: 18px;
  line-height: 20px;
  transition: all .6s ease;
  @media(max-width: 768px){
    margin-top: 15%;
    margin-bottom: 20%;
  }
  &:hover{
    font-size: 20px;
    color:white;
  }
  &:active{
    filter:brightness(75%);
  }
}
//shooting stars
$shooting-time: 3500ms;

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(125deg);
  // animation: sky 200000ms linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.night-container{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  // width: 100px;
  height: 2px;
  background: linear-gradient(-45deg,  white, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px  white);
  animation:
    tail $shooting-time ease-in-out infinite,
    shooting $shooting-time ease-in-out infinite;
  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), white, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    // width: 30px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), white, rgba(0, 0, 255, 0));
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }

  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 0ms;
      top: calc(50% - #{random(400) - 200px});
      left: calc(50% - #{random(300) + 0px});
      animation-delay: $delay;
      // opacity: random(50) / 100 + 0.5;

      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes sky {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45 + 360deg);
  }
}


.star{
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color:white;
  z-index: 50;
  &:hover{
    transform: scale(1);
  }
}
.planetary{
  width:275px;
  height:275px;
  position:relative;
  transition: all .4s ease;
  transform: rotate(0);
  border-radius: 50%;
  @media(max-width: 768px){
    width:75px;
    height:75px;
  }
}
.planetary.activated{
  transition: all .4s ease;
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 8px 8px rgba(0,0,0,0.11),
  0 16px 16px rgba(0,0,0,0.11),
  0 32px 32px rgba(0,0,0,0.11);
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
.star.activated{transition: all .4s ease;
  transform: translateY(-15px) scale(1.1);
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
  text-shadow: #5d75c4;
}
.center-content{
  width:100%;
  display: flex;
  flex-direction: column;
  .image-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    margin-left: 15px;
    text-align: center;
    width:100%;
    @media(max-width: 768px){
      margin-left: 5px;
    }
  }
}
.bottom-image{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    position:relative;
    top:15px;
    width:50px;
    height:50px;
    filter:brightness(60%);
    cursor:pointer;
    transition: all .4s ease;
    &:active{
      filter:brightness(60%) !important;
    }
  }
  .content-centered:hover{
    img{
      filter: brightness(100%);
      top:-15px;
    }
  }
}
.star{
  cursor:pointer;
  transition: all .4s ease;
}
input{
  color:white;
}
.disabled{
  cursor:not-allowed;
  pointer-events: none;
}
.remove-lineup{
  z-index: 50;
  position:fixed;
  display:flex;
  flex-direction: row;
  right:0;
  top:0;
  .button-abs{
    cursor:pointer;
    color:white;
    background-color: #ff0a0a;
    border-radius: 50%;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
    width:50px;
    height:50px;
    font-size: 20px;
    transition: all .4s ease;
    &:hover{
      transform: scale(1.1) translateX(-5px) translateY(5px);
    }
    &:active{
      filter:brightness(75%);
    }
  }
  @media(max-width: 768px){
    display:none;
  }
}
.activated-meteor{
  transform: translateY(15px) translateX(-10px);
}
