<div class="parent magictime vanishIn">
  <div class="entire-page   magictime vanishIn">

  </div>
  <div class="entire-page-cover">
    <div class="night-container" style="z-index:2;">
      <div class="night">
        <div class="shooting_star" *ngFor="let number of numberlistbody"></div>
      </div>
    </div>
    <div style="max-width: 100vw !important;" class="main-form">
      <div class="space-chart">
        <div class="center-content">
          <div class="image-container">
            <img src="/assets/mars-cartoon.svg" [ngClass]="{'activated': activated}" class="planetary"/>
          </div>
          <p>martian</p>
        </div>
        <div class="night-container">
          <div class="star" *ngFor="let star of starlist" [ngClass]="{'activated': activated && !star.ismeteor, 'activated-meteor': activated && star.ismeteor}" [title]="star.title"
               [ngStyle]="{'left.px': star.left, 'top.px': star.top,'font-size.px': star.size}" (mouseenter)="focusOne(star)" [innerHTML]="star.value"></div>
          <div class="night">
            <div class="shooting_star" *ngFor="let number of numberlist"></div>
          </div>
        </div>
      </div>
      <div class="login-form">
        <div class="bottom-image">
          <div class="content-centered" (mouseenter)="activated = true" (mouseleave)="activated = false">
            <img src="/assets/mars-cartoon.svg" (click)="resetAll()" />
          </div>
        </div>
        <mat-form-field class="login-form-field">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" type="text">
        </mat-form-field>
        <mat-form-field class="login-form-field">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" type="password">
        </mat-form-field>
        <div class="button-container">
          <button mat-button [ngClass]="{'disabled': !isvalid()}">Sign In</button>
          <button mat-button [ngClass]="{'disabled': !isvalid()}">Sign Up</button>
        </div>
        <p class="forgot">Forgot Password ? </p>
      </div>
    </div>
  </div>
</div>
<div class="remove-lineup  magictime vanishIn">
  <div class="button-abs" *ngIf="username!='' || password!=''" (click)="resetForAll()"><i class="fas fa-times"></i></div>
  <div class="button-abs" *ngIf="username!='' && password!=''" title="Vos données sont valides" style="background-color: #00a9f4"><i class="fas fa-check"></i></div>
</div>
